<div class="row">
	<div class="col-sm-4 col-sm-offset-1">
		<h1>Edit User</h1>
		<form action='/users/<%= @user.id %>' method='post'>
			<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
			<input type='hidden' name='_method' value='patch'>
			<div class="form-group">
				<label for='email'>Email</label>
				<input type='text' id='name' class="form-control" name='name' value='<%= @user.name %>'>
			</div>
			<div class="form-group">
				<label for='name'>Name</label>
				<input type='text' id='email' class="form-control" name='email' value='<%= @user.email %>'>
			</div>
			<button type='submit' class="btn btn-default" value='Update'>Update</button>
			<a href="/users/<%= @user.id %>"><button class="btn btn-default">Back</button></a>
		</form>

		<form id="delete_account" action='/users/<%= @user.id %>' method='post'>
			<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
			<input type='hidden' name='_method' value='delete'>
			<button type='submit' class="btn btn-default" value='Delete Account'>Delete Account</button>
		</form>
	</div>
</div>